.footer {
  padding: 17px 0 17px 0;
  background-color: #fff;
  width: 830px;
  height: 22px;
  margin: 0px 80px 0px 80px;
  border-color: #E3E3E4;
  border-top: 1px solid #E3E3E4;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px;
  }
 
  .footer-links a {
    text-decoration: none;
    color: #595964;
    font-family: var(--font-medium);
    font-size: 14px;
    line-height: 22px;
  }
  